In [3]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
for i in range(10,20):
    print(i, end=" ")

10 11 12 13 14 15 16 17 18 19

In [13]:
List2 = [10, 20, 14, 55, 43, 87, 76]
print("Number of items in List2:=" , len(List2))

Number of items in List2:= 7

In [21]:
print("Artificial Intelligence")
X = "Artificial Intelligence"
for i in X:
    print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [23]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [25]:
Tuple1 = (1, 'Welcome', 2, 'Hope')
print(Tuple1)

(1, 'Welcome', 2, 'Hope')

In [31]:
Tuple1  = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
Tuple3  = (Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [39]:
List1 = [20,10,16,19,25,1,276,188]
print(tuple(List1))
for i in List1:
    if i % 2 != 0:
        print(i,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [43]:
List1 = [20,10,16,19,25,1,276,188]
print(tuple(List1))
for i in List1:
    if i % 2 == 0:
        print(i,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even