In [1]:
print("Hope AI")

Hope AI

In [3]:
Institute = input("Enter your institute name:")

Enter your institute name: HOPE AI

In [1]:
Name = input("Enter your name:") 
age = input("Enter your age:")
School = input("Enter your school name:")
degree = input("Enter your Degree:")

Enter your name: R.Sundar
Enter your age: 28
Enter your school name: Mahatma CBSE
Enter your Degree: B.A

In [3]:
a = 43
b = 34
add = a+b
print ("a = ",a)
print ("b = ",b)
print ("add = ",add)

a =  43
b =  34
add =  77

In [5]:
a = 43
b = 34
sub = a-b
print ("a = ",a)
print ("b = ",b)
print ("sub = ",sub)

a =  43
b =  34
sub =  9

In [7]:
a = 63
b = 97
mul = a*b
print ("a = ",a)
print ("b = ",b)
print ("mul = ",mul)

a =  63
b =  97
mul =  6111

In [5]:
a = 76
b = 31
div = a/b
print ("a = ",a)
print ("b = ",b)
print ("Float Div = ",div)

a =  76
b =  31
Float Div =  2.4516129032258065